@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

 * {
    background: linear-gradient();
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  h2{
      text-align: center;
      font-size: 50px;
  }
  p{
      font-family: 'Poppins', sans-serif;
      font-size: 1.4em;
  }
  .menu {
    float: left;
    width: 15%;
    font-size: 25px;
    color: #fff;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

  }
  .menuitem {
    padding: 20px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
    

  }
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
    color: #380036;
  }
  .right {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
    color: #fff;
  }
  
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right .menuitem{
      width: 100%;
    }
  }